<a href="https://colab.research.google.com/github/josselinereyes841/edd_1358_2021/blob/master/12octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#diccionarios (continuacion)
cliente_banco = {
          "id" : 1,
          "nombres" : ["Mario", "Alberto"],
          "paterno" : "Gonzalez",
          "Materno" : "Villalobos",
          "telefonos" :{
                        "casa" : 5558574910,
                        "celular" : 5549873765,
                        "trabajo" : 5540932871
                       },
           "Activo" : True,
           "balance" : 549246.58,
           "tarjetas" : ({ "Tipo" : "Debito", "Saldo" : 249800.59},
                         {"Tipo" : "Credito", "Saldo" : 16500 } )
                        
}
print(cliente_banco)  
cliente_banco["balance"] = cliente_banco["balance"] -9000.58
print(cliente_banco) 

cliente_banco["tarjetas"] = ({ "Tipo" : "Debito", "Saldo" : 249800.59},
                             {"Tipo" : "Credito", "Saldo" : 16500 },
                             {"Tipo" : "Credito", "Nivel" : "Oro", "Saldo" : 500000} )
print(cliente_banco)

cliente_banco["direccion"] = {"Calle" : "Joaquin herrera", "Numero" : 150, "Delegacion" : "GAM"}
print(cliente_banco)

cliente_banco.pop("tarjetas")
print(cliente_banco)

{'id': 1, 'nombres': ['Mario', 'Alberto'], 'paterno': 'Gonzalez', 'Materno': 'Villalobos', 'telefonos': {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}, 'Activo': True, 'balance': 549246.58, 'tarjetas': ({'Tipo': 'Debito', 'Saldo': 249800.59}, {'Tipo': 'Credito', 'Saldo': 16500})}
{'id': 1, 'nombres': ['Mario', 'Alberto'], 'paterno': 'Gonzalez', 'Materno': 'Villalobos', 'telefonos': {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}, 'Activo': True, 'balance': 540246.0, 'tarjetas': ({'Tipo': 'Debito', 'Saldo': 249800.59}, {'Tipo': 'Credito', 'Saldo': 16500})}
{'id': 1, 'nombres': ['Mario', 'Alberto'], 'paterno': 'Gonzalez', 'Materno': 'Villalobos', 'telefonos': {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}, 'Activo': True, 'balance': 540246.0, 'tarjetas': ({'Tipo': 'Debito', 'Saldo': 249800.59}, {'Tipo': 'Credito', 'Saldo': 16500}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000})}
{'id': 1, 'nombres': ['Mario', 'Alberto'], 'paterno': 'Gonzalez', 'Materno': 'Villalobos', 'telefonos': {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}, 'Activo': True, 'balance': 540246.0, 'tarjetas': ({'Tipo': 'Debito', 'Saldo': 249800.59}, {'Tipo': 'Credito', 'Saldo': 16500}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000}), 'direccion': {'Calle': 'Joaquin herrera', 'Numero': 150, 'Delegacion': 'GAM'}}
{'id': 1, 'nombres': ['Mario', 'Alberto'], 'paterno': 'Gonzalez', 'Materno': 'Villalobos', 'telefonos': {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}, 'Activo': True, 'balance': 540246.0, 'direccion': {'Calle': 'Joaquin herrera', 'Numero': 150, 'Delegacion': 'GAM'}}

In [3]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
    print(x)
    
valores = cliente_banco.values()
for v in valores:
  print(v)

pares = cliente_banco.items()
print(pares)

for elem in pares:
    print(f"{elem[0]} = {elem[1] } ")

dict_keys(['id', 'nombres', 'paterno', 'Materno', 'telefonos', 'Activo', 'balance', 'direccion'])
<class 'dict_keys'>
id
nombres
paterno
Materno
telefonos
Activo
balance
direccion
1
['Mario', 'Alberto']
Gonzalez
Villalobos
{'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}
True
540246.0
{'Calle': 'Joaquin herrera', 'Numero': 150, 'Delegacion': 'GAM'}
dict_items([('id', 1), ('nombres', ['Mario', 'Alberto']), ('paterno', 'Gonzalez'), ('Materno', 'Villalobos'), ('telefonos', {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}), ('Activo', True), ('balance', 540246.0), ('direccion', {'Calle': 'Joaquin herrera', 'Numero': 150, 'Delegacion': 'GAM'})])
id = 1
nombres = ['Mario', 'Alberto']
paterno = Gonzalez
Materno = Villalobos
telefonos = {'casa': 5558574910, 'celular': 5549873765, 'trabajo': 5540932871}
Activo = True
balance = 540246.0
direccion = {'Calle': 'Joaquin herrera', 'Numero': 150, 'Delegacion': 'GAM'}

In [4]:
fruta = {"nombre":"manzana","color":"rojo","estado":"chihuahua"}
otras_caracteristicas = {"vitamina":"D"}
fruta.update(otras_caracteristicas)
print(fruta)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'chihuahua', 'vitamina': 'D'}

#Funciones
- recibe de 0 a n argumentos de entrada
- regresa solo un valor, aunque ese valor sea None.
- tien un nombre único en el contexto.
- se puede hacer solo dos cosas con funciones:
   - definirla
   - llamarla

In [ ]:
def suma(a,b):
    return a+b

def saludar():
    print("Hola,¿cómo estás?")
    return None

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola,¿cómo estás?

# None y las funciones
Aprovechar el uso de None en paso de parámetros.

In [5]:
def calcular(base , veces):
    if base != None:
       resultado = base * veces
    else:
      resultado = "desconocido"
    return resultado

print(calcular(4,3))
print(calcular(None,3))

12
desconocido